node_modules/
www/
build/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/App/CapApp-SPM/
ios/App/DerivedData/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
